@charset "UTF-8";

.textAlign {
	text-align: center;
}

.textAlignR {
	text-align: right;
}

.zone {
	display: flex;
}

.wrap {
	flex-wrap: wrap;
}

.between{
    justify-content: space-between;
}

.spaceEvenly {
	justify-content: space-evenly;
}

.spaceAround{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}

.center {
	justify-content: center;
}

.row {
	flex-direction: rox;
}

.column {
	flex-direction: column;
}

.gap{
	gap: 5%;
}

.pad10{
	padding: 10rm;
}

.ma10{
	margin: 10rm;
}
.padInL40{
	padding-inline-start: 40px
}

.bordureArticle{
	border: 2px solid black;
}

.div_formulaire {
width: 100%;
display: flex;
flex-direction: column;
min-height: 20px;
margin-top: 2px;
}

.div_formulaire > input {
background: #FFD9D9;
border: none;
border-radius: 5px;
font-size: 16px;
font-weight: 500;
font-family: Montserrat, "sans-serif";
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
}

.zone_formulaire {
width: 700px;
border: 1px solid;
border-radius: 8px;
padding: 0 50px 0 50px;
background: white;
}

.boutonLien{
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	}
	
.lienArticle{
	background: none;
	border: none;
	padding: 0;
	font: inherit;
	color: black;
	cursor: pointer;
	}
	
	
.hidden{
  display: none;
}


