body {
	background-color: #bfd2ae;
}

label {
	display: block;
	width: 210px;
	float: left;
}

input:not(#exclure_bouton), select, textarea {
	background: #FFD9D9;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 500;
	font-family: Montserrat, "sans-serif";
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.block {
	display: block;
	display: inline-block;
	margin: 1em;
}

.liens {
	display: block;
	display: inline-block;
	margin: 1em;
}

button {
	display: inline-block;
	margin: 1em;
	background: #FFD9D9;
	border: none;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 500;
	font-family: Montserrat, "sans-serif";
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.boutonLien {
	background: none;
	border: none;
	font: inherit;
	text-decoration: underline;
	cursor: pointer;
}

.global-nav {
	background-color: #12bced;
	width: 100vw;
	height: 3vw;
	z-index: 100;
	color: black;
}

.formulaire {
	background-color: #c0c0c0;
}

.hidden {
	display: none;
}